@import "tailwindcss";


@layer base {
    h1 {
        @apply text-[#672F2F]/90 text-4xl font-medium font-serif
    }
    
    p {
        @apply text-[#001524]/70 text-[1.1rem] font-normal font-serif
    }

    h2 {
        @apply font-serif
    }
}

@utility gradient-header {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#662F2F]/90 from-10% via-[#A84A4A] via-30% to-[#889E73] to-[90%]
}

@utility gradient-button-1 {
    @apply w-40 h-12 rounded-4xl border-1 border-[#889E73] bg-gradient-to-tl shadow-lg shadow-black/20 from-[#672F2F] to-[#A84A4A] text-[#FAF5EF] text-[1rem] text-sm font-semibold hover:bg-gradient-to-bl hover:shadow-[#672F2F]/40 hover:outline-none
}

@utility secondary-button {
    @apply w-40 h-12 rounded-4xl border-1 border-[#889E73] shadow-lg shadow-black/20 bg-[#A84A4A]/10 hover:bg-[#A84A4A]/50 text-[#121212]/90 text-[1rem] text-sm font-semibold
}